body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#background{
    position: relative;
    width: 100%;
    height: calc(100% - 110px);
    background-image: linear-gradient(to bottom, #40485e, #40485e 70%, #479eca 70%, #479eca 80%,white 80%, white 100%);
}

#loginMenu{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 75%;
    background-color: #465069;
    box-shadow: 5px 10px #479eca, 10px 20px #e0e0e0;
}

.centerElementsCenter{
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginMsg{
    font-size: 30pt;
    font-family: "Century Gothic", serif;
    color: #e0e0e0;
}

#loginMenuPic{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
}

#rememberMe{
    font-family: "Century Gothic", serif;
    font-size: 9pt;
    color: #e0e0e0;
}

.centerElementsLeft{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0;
}

#loginButton{
    height: 30px;
    width: 300px;
    background-color: #479eca;
    color: #e0e0e0;
    font-family: "Century Gothic", serif;
    font-size: 11pt;
    border: none;
    border-radius: 5px;
}

#loginMsg1{
    font-size: 8pt;
    font-family: "Century Gothic", serif;
    color: #e0e0e0;
}

.socialMedia{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
}

.socialMedia i{
    font-size: 30pt;
    color: #e0e0e0;
}

#console{
    font-size: 10pt;
    font-family: "Century Gothic", serif;
    color: #e68282;
}

.forgotPass{
    text-decoration: none;
    color: #479eca;
    font-family: "Century Gothic", serif;
    font-size: 9pt;
}

.forgotPass:hover{
    color: #8c91a2;
}